<header style="background-color: #333; color: white; padding: 1rem; text-align: center;">
    <h1>Jacket Management</h1>
</header>

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Domů</a></li>
        <li><a href="{% url 'register' %}">Registrace</a></li>
    {% if user.is_authenticated %}
        <li><form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Odhlásit se</button>
        </form></li>
    {% else %}
        <li><a href="{% url 'login' %}">Přihlásit se</a></li>
    {% endif %}
        <li><a href="{% url 'jacket-list' %}">Seznam bund</a></li>  <!-- Odkaz na seznam bund -->
        <li><a href="{% url 'add-jacket' %}">Přidat bundu</a></li>
        <li><a href="{% url 'pizza_create' %}">Vytvořte pizzu</a></li>
    </ul>
</nav>
